header.header
  .container
    .row.d-flex.align-items-center.justify-content-between
      .col.col-auto
          img.header-logo(src="/images/il_fullxfull.1629256349_sqvi.jpg" width='75' height='75' alt="Templating Language logo")
      .col.col-auto
        ul.nav
          li.nav-item
            a.nav-link.active(href='/') To Survival
          li.nav-item
            a.nav-link(href="/explore") The Crypt
          li.nav-item
            a.nav-link(href='/about-us') About Us 
          li.nav-item
            a.nav-link(href="/account/dashboard") Bloodline