extend layout

block content
    div(class="boxshadow")
        h2 Welcome to the beginning of the end!!
        h3 Of your searches for the best and maybe even worst horror movies from the 80's
        hr 
        h4 If you haven't offered your blood sacrifice yet, you can do so  
                a(href="/registration")  here!
        