header.header
  .container
    .row.d-flex.align-items-center.justify-content-between
      .col.col-auto
        ul.nav
          li.nav-item
            a.nav-link.active(href='/account/dashboard') To Safety
          li.nav-item
            a.nav-link(href="/account/favorites") Wet My Pants List
          li.nav-item
            a.nav-link(href='/account/to-watch') My Pants Are Still Dry List
          li.nav-item
            a.nav-link(href='/account/logout') Death
